### [행/열/원소 선택]
- Serie => 원소 삭제
- DataFrame => 행, 열, 원소 선택

- 속성 => 정수/위치 인덱스, 라벨 인덱스 또는 인덱스 라벨 
    * 객체 변수명[인덱스] => 객체변수명.iloc[정수인덱스], 객체변수명.loc[라벨인덱스]

[Series의 데이터 삭제]
***

In [14]:
## 모듈 로딩
import pandas as pd

In [15]:
## 임의의 데이터
data_dict = {'a':10, 'b':9, 'c':22, 'd':5, 'e':77, 'f':2 }

## 시리즈 인스턴스 생성
dataSR = pd.Series(data_dict)
 
print(dataSR)
print(dataSR.index)
print(dataSR.values)

a    10
b     9
c    22
d     5
e    77
f     2
dtype: int64
Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')
[10  9 22  5 77  2]

In [16]:
## --------------------------------- 
## 원소 1개 선택 => Series변수명[인덱스] 
## ---------------------------------
## => 'a' 원소 1개 선택
one_data = dataSR['a']
print("one_data", one_data, type(one_data), sep='\n')

## --------------------------------- 
## 원소 1개 선택 => Series변수명.loc[라벨인덱스]
## ---------------------------------
## => 'a' 원소 1개 선택
one_data = dataSR.loc['a']
print("one_data", one_data, type(one_data), sep='\n')

## --------------------------------- 
## 원소 1개 선택 => Series변수명.iloc[라벨인덱스]
## ---------------------------------
## => 'a' 원소 1개 선택
print(dataSR.index)
# Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype = 'object')
one_data = dataSR.iloc[0]
print("one_data", one_data, type(one_data), sep='\n')

one_data
10
<class 'numpy.int64'>
one_data
10
<class 'numpy.int64'>
Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')
one_data
10
<class 'numpy.int64'>

In [17]:
## 현재 인덱스는 object타입의 라벨 인덱스 + [기] 정수 인덱스
## 변경 인덱스를 int타입의 정수 인덱스
dataSR.index=[0,1,'가',3,4,5] #[11,12,13,14,15,16]
display(dataSR,dataSR.index)

## => 원소 선택
# print( dataSR[12], dataSR.iloc[1], dataSR.loc[12])
print( dataSR['가'], dataSR.iloc[1], dataSR.loc['가'])

0    10
1     9
가    22
3     5
4    77
5     2
dtype: int64

Index([0, 1, '가', 3, 4, 5], dtype='object')

22 9 22

In [18]:
## ----------------------------------------------------------------------
## 원소 여러 개 선택 =>Series 변수명[ [인덱스, 인덱스2, ..., 인덱스n] ]
##                   Series 변수명.iloc[ [인덱스, 인덱스2, ..., 인덱스n] ]
##                   Series 변수명.loc[ [인덱스, 인덱스2, ..., 인덱스n] ]
## ----------------------------------------------------------------------
## => 0번, 3번, 5번, 3개 선택
ret = dataSR[[0, 3, 5]]
ret2 = dataSR.iloc[[0, 3, 5]]
ret3 = dataSR.loc[[0, 3, 5]]


display(ret, type(ret))
display(ret2, type(ret2))
display(ret3, type(ret3))

0    10
3     5
5     2
dtype: int64

pandas.core.series.Series

0    10
3     5
5     2
dtype: int64

pandas.core.series.Series

0    10
3     5
5     2
dtype: int64

pandas.core.series.Series

In [19]:
## ----------------------------------------------------------------------
## 원소 여러 개 선택 =>Series 변수명[ [시작인덱스 : 끝인덱스 : 간격 ] ]
##                   Series 변수명.iloc[ [시작인덱스 : 끝인덱스 : 간격 ] ]
##                   Series 변수명.loc[ [시작인덱스 : 끝인덱스 : 간격 ] ]
## ----------------------------------------------------------------------
## => 0번, 2번, 4번, 3개 선택
# ret = dataSR[0:5:2]
# ret2 = dataSR.iloc[0:5:2]
# ret3 = dataSR.loc[0:5:2]
ret = dataSR[::2]
ret2 = dataSR.iloc[::2]
ret3 = dataSR.loc[::2]


print('-----------3개 원소 0번, 2번, 4번----------')
display(ret, type(ret))
display(ret2, type(ret2))
display(ret3, type(ret3))

-----------3개 원소 0번, 2번, 4번----------

0    10
가    22
4    77
dtype: int64

pandas.core.series.Series

0    10
가    22
4    77
dtype: int64

pandas.core.series.Series

0    10
가    22
4    77
dtype: int64

pandas.core.series.Series

In [20]:
## => 0번~3번 4개 선택
ret4 = dataSR.iloc[0:4] ##.iloc[시작 : 끝] 시작<= ~ <끝
ret5 = dataSR.loc[0:3] ##.loc[시작 : 끝] 시작<= ~ <=끝

display(ret4, type(ret4))
display(ret5, type(ret5))

0    10
1     9
가    22
3     5
dtype: int64

pandas.core.series.Series

0    10
1     9
가    22
3     5
dtype: int64

pandas.core.series.Series

[DataFrame의 행/열 축이름 변경]
***

In [23]:
## 데이터
data_dict = {'번호' : [1,5,9],
             '이름' : ['홍', '마', '베']}

## 데이터 프레임 생성 : key => 컬럼명, Value => 세로 즉, 컬럼 데이터
dataDF = pd.DataFrame(data_dict)

## 출력
display(dataDF, dataDF.columns, dataDF.index)

   번호 이름
0   1  홍
1   5  마
2   9  베

Index(['번호', '이름'], dtype='object')

RangeIndex(start=0, stop=3, step=1)

In [35]:
## --------------------------------------
## 행 방향 데이터 삭제
## --------------------------------------
## => [labels, axis=0 매개변수]
dataDF1 = dataDF.drop([1], axis="index") ## [기본] inplace=False 원본 데이터 변경
display(dataDF1)
display(dataDF)

print('='*40)
## => [index 매개변수]
dataDF1 = dataDF.drop(index = [1]) ## [기본] inplace=False 원본 데이터 유지
display(dataDF1)
display(dataDF)

   번호 이름
0   1  홍
2   9  베

   번호 이름
0   1  홍
1   5  마
2   9  베

========================================

   번호 이름
0   1  홍
2   9  베

   번호 이름
0   1  홍
1   5  마
2   9  베

In [ ]:
## --------------------------------------
## 행 방향 데이터 삭제
## --------------------------------------
## => [labels, axis=1 매개변수]
dataDF1 = dataDF.drop(['번호'], axis='columns') ## [기본] inplace=False 원본 데이터 유지
display(dataDF1)
display(dataDF)

print('='*40)

## => [index 매개변수]
dataDF1 = dataDF.drop(columns = ['번호']) ## [기본] inplace=False 원본 데이터 유지
display(dataDF1)
display(dataDF)

  이름
0  홍
1  마
2  베

   번호 이름
0   1  홍
1   5  마
2   9  베

========================================

  이름
0  홍
1  마
2  베

   번호 이름
0   1  홍
1   5  마
2   9  베