### [ Series/DataFrame 다루기]
- Series/DataFrame의 속성 읽기/변경
- Series/DataFrame 행인덱스/열이름 전체/부분 변경 : rename(index, columns, inplace)
- Series/DataFrame 행/열 축이름 설정 : rename_axis(index, columns, inplace)
- Series/DataFrame 행/열 삭제 : drop(label, axis, index, columns, inplace)
- 기억 매개변수
    * axis : 행과 열 방향 설정 매개변수. 
        - 0 -> 행(가로) 방향
        - 1 -> 열(세로) 방향
    * inplace : 원본 데이터 유지 여부 설정. 
        - False-> 기본값, 원본 유지. 복사본으로 작업 후 반환 
        - True -> 원본으로 작업 진행. 반환값 None

In [2]:
## 모듈 로딩
import pandas as pd

In [3]:
## 데이터 준비 : json ==> DataFrame
dataDF = pd.read_json('../Data/test.json')

display(dataDF)

   id  value1  value2
0   1      20    3.40
1   2      12    2.10
2   3      11    9.70
3   4       9    0.12
4   5      31    9.99

[실습문제]  <hr>

In [ ]:
## [1] 행 인덱스를 변경
## [0,1,2,3,4] ===> ['하나', '둘', '셋', '넷', '다섯']

In [ ]:
## [2] 컬럼 변경
## 'id', 'value1', 'value2' ===> 'id', 'v1', 'v2'

In [6]:
## [3] '둘', '넷'에 해당하는 행을 삭제
##  단, 원본은 손상 X

In [ ]:
## [4] 아래와 같은 결과가 나오도록 코드 작성하세요.

#  id	value1	value2
# 0	1	20	3.40
# 1	2	12	2.10
# 2	3	11	9.70
# 3	4	9	0.12
# 4	5	31	9.99

#   ID  DATA
# A	 1   3.40
# B	 3	9.70
# C	 5	9.99