### [ 판다스와 넘파이 ]
- C언어에 배열(Array)를 파이썬 언어로 사용할 수 있도록 만든 패키지 : 넘파이
- DataFrame/Series/Index 등등 객체들의 데이터 저장 방식으로 넘파이
- Matplotlib/Seaborn/ML/DL/.. 등등 데이터 저장 방식으로 넘ㅍ아ㅣ

[1] 모듈 로딩 및 데이터 준비 <hr>

In [2]:
## 모듈 로딩
import pandas as pd
import numpy as np

In [4]:
## 데이터프레임 생성
dataDF = pd.DataFrame([[11,22,33],[44,55,66]])

display(dataDF)

    0   1   2
0  11  22  33
1  44  55  66

In [9]:
## 데이터 프레임 속성
values_ = dataDF.values

print( type(values_), values_, sep ='\n')

<class 'numpy.ndarray'>
[[11 22 33]
 [44 55 66]]

In [12]:
## DF의 컬럼 정보만 추출 => Indxe 인스턴스
columns_ = dataDF.columns
print( type(columns_), columns_, sep ='\n')

## RangeIndex/Index 인스턴스 ==> 변환 : to_XXX()/toXXX()
c1 = columns_.to_list()
c2 = columns_.tolist()

print( type(c1), c1, sep ='\n')
print( type(c2), c2, sep ='\n')

<class 'pandas.core.indexes.range.RangeIndex'>
RangeIndex(start=0, stop=3, step=1)
<class 'list'>
[0, 1, 2]
<class 'list'>
[0, 1, 2]