### [중복 데이터 체크 및 처리]
- 중복 데이터 여부 검사 : DF.duplicated() => True/False
- 중복 데이터 검사 : DF.

In [10]:
## 모듈로딩
import pandas as pd

## 데이터 준비
df = pd.DataFrame({ 'brand' : [ 'Yum', 'Yum', 'Indo', 'Indo', 'Indo' ],
                    'style' : [ 'cup', 'cup', 'cup', 'pack', 'pack' ],
                    'rating' : [4, 4, 3.5, 15, 5] })


display(df)

  brand style  rating
0   Yum   cup     4.0
1   Yum   cup     4.0
2  Indo   cup     3.5
3  Indo  pack    15.0
4  Indo  pack     5.0

In [11]:
## 중복체크
result = df.duplicated().sum()


print(f'중복 데이터/행 : {result}개')

중복 데이터/행 : 1개

In [12]:
## 중복체크 - 마지막 유지, 그 외 중복
result = df.duplicated(keep='last')
result

0     True
1    False
2    False
3    False
4    False
dtype: bool

In [13]:
## 중복체크 - 모두 중복
result = df.duplicated(keep=False)
result

0     True
1     True
2    False
3    False
4    False
dtype: bool

In [14]:
## 중복체크 - subset매개변수 : 중복 검사 컬럼 설정


#    brand  style   rating
# 0	 Yum	cup	    4.0
# 1	 Yum	cup	    4.0
# 2	 Indo   cup	    3.5
# 3	 Indo   pack    15.0
# 4	 Indo   pack    5.0

## brand 컬럼만 중복인 행
result = df.duplicated(subset='brand')
result

0    False
1     True
2    False
3     True
4     True
dtype: bool

In [18]:
## 중복체크 - brand, style 컬림이 중복인 행
#    brand  style   rating
# 0	 Yum	cup	    4.0
# 1	 Yum	cup	    4.0
# 2	 Indo   cup	    3.5
# 3	 Indo   pack    15.0
# 4	 Indo   pack    5.0

result = df.duplicated(subset=['brand','style'])
result

0    False
1     True
2    False
3    False
4     True
dtype: bool